<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Provided by</span>
    <a
      b-slate-link
      href="https://yoursandminedesigns.com" target="_blank"
    >
    Tommy Wheeler
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/7wheeler/chatgpt-demo2" target="_blank"
    >
    My Source code
    </a>
  </p>
</footer>
